<p>person-list works!</p>
<table mat-table [dataSource]="personDataSource">
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let person">{{person.name}}</td>
    </ng-container>

    <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let person">{{person.age}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
</table>
